.header-container {
  color: white;
  background-color: #562b81;
}

h2 {
  font-weight: 100;
  max-width: 575px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

main {
  background-color: #f0f0f0;
}

.img-container {
  width: 100%;
}

img {
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.photo-container {
  display: flex;
  flex-direction: column;
}

.notes-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 1.2rem 0;
}

.button-container > button {
  color: white;
  background-color: #562b81;
  border-style: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

label {
  font-weight: bold;
  padding: 0.8rem 0;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

textarea {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  border: 2px solid #562b81;
}

textarea:focus {
  outline: none;
  border: 2px solid #562b81;
}

@media screen and (min-width: 768px) {
  .mediaview {
    display: flex;
    flex-wrap: wrap;
  }

  .title-container {
    margin-top: 4rem;
  }

  .notes-container {
    margin-left: 0.7rem;
  }

  h2 {
    font-weight: 100;
    margin-left: 0.9rem;
  }
}
