header {
  color: white;
  background-color: #562b81;
  padding: 6px;
}

h2 {
  font-weight: 100;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.fixedWidth {
  width: 40px;
}

.noEntry {
  font-size: 24px;
}

.newEntry {
  color: white;
  background-color: #562b81;
  border-style: none;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

span.entries {
  margin-left: 2rem;
  font-size: 20px;
  cursor: pointer;
}

main {
  background-color: #f0f0f0;
}

.img-container {
  width: 100%;
}

img {
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.photo-container {
  display: flex;
  flex-direction: column;
}

.notes-container {
  display: flex;
  flex-direction: column;
}

.saveButton {
  color: white;
  background-color: #562b81;
  border-style: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  cursor: pointer;
}

label {
  font-weight: bold;
  padding: 0.8rem 0;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

textarea {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  border: 2px solid #562b81;
}

textarea:focus {
  outline: none;
  border: 2px solid #562b81;
}

.entryTitle {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 0;
}

.entryNotes {
  font-size: 18px;
  line-height: 1.6rem;
}

.edit-container {
  margin-top: 1.6rem;
}

.editButton {
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

.deleteEntry {
  color: red;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .mediaview {
    display: flex;
    flex-wrap: wrap;
  }

  .title-container {
    margin-top: 4rem;
  }

  .notes-container {
    margin-left: 0.7rem;
  }

  .entryTitle {
    margin-top: 0;
  }

  .edit-container {
    margin-top: 0;
  }
}
